* {
    margin: 0px;
    font-family: "Urbanist";
    --main-color: #00A3FF;
}

::selection {
    color: white;
    background-color: #9FCCC1;
}

.introduction {
    margin-top: 100px;
}

body {
    /* --dot-bg: white;
    --dot-color: blue;
    --dot-size: 1px;
    --dot-space: 30px;
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);
     */
      margin-left: 150px;
}

.navigationBar {
   width: 60%;
   height: 50px;
   border: black solid 1px;
   border-radius: 10px;
   position: fixed;
   top: 10px;
   left: 20%;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 1s;
   display: flex;
   justify-content: center;
}

.navigationBar a {
    margin: 1rem;
    text-decoration: none;
    color: black;
}

.navigationBar a:active {
    color: #00A3FF;
}

#myName {
    font-size: 70px;
}
.myName--hi {
    font-size: 40px;
}

.underline {
    height: 7px;
    width: 100px;
    border: 0.5px solid var(--main-color);
    border-radius: 20px;
    background-color: var(--main-color);
}

.projects {
    margin-top: 50px;
}

.project-showcase {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card {
    margin: 0.5rem;
    width: 28%;
    height: 70%;
    background-color: white;
    border: 1.5px solid rgb(209, 210, 216);
    border-radius: 5px;
    padding: 1rem;
}

.project-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1s;
}

.project-card p {
    margin-top: 10px;
    font-size: 12px;
}

.designs {
    margin-top: 45px;
}
.designContainer {
    margin-top: 45px;

}
.design-element {
    width: 420px;
    /* height: 255px; */
    margin: 2px;
}

.design-element-irb {
    width: 480.5px;
    margin: 0.5rem;
}

.design-element-irb-mobile {
    width: 300px;
    margin: 0.5rem;
}

.link-icon {
    margin-left: 0.5rem;
    width:20px;
}

.technologiesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.technologiesContainer p {
    font-size: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.frontEnd-library {
    background-color: rgb(254, 254, 180);
    color: rgb(73, 73, 23);
}

.frontEnd-language {
    background-color: rgb(173, 255, 232);
    color: rgb(1, 81, 73);
}

.backEnd-framework {
    background-color: rgb(158, 234, 200);
    color: rgb(6, 54, 39);
}

.database-language {
    background-color: rgb(243, 147, 147);
    color: rgb(30, 6, 30);
}

.visitButton {
    float: right;
    border: 1px solid rgb(187, 173, 173);
    border-radius: 5px;
    background-color: black;
    width: 70px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
} 

.visitButton:hover    {
    transform: scale(0.98);

}

.canTvisitButton {
    float: right;
    border: 1px solid rgb(187, 173, 173);
    border-radius: 5px;
    width: 70px;
    padding: 10px 20px;
    color: white;
    background-color: rgb(206, 198, 198);
}

.visitButton a {
    text-decoration: none;
    color: white;
}

.myEducation {
    margin-top: 45px;
}

.verticalLine {
    width: 3px;
    height: 100px;
    background-color: var(--main-color);
    margin-left: 2rem;
    margin-top: 20px;
    border: 0.5px solid var(--main-color);
    border-radius: 20px;

}

.educationContainer {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#yearOfDegree {
    margin-top: 55px;
}

#myUniversity {
    margin-top:29px;
    margin-left: 30px;
}

.mySkills {
    margin-top: 100px;
}

.socials img {
    width: 35px;
    height: 35px;
    border: 1px solid white;
}

.socials img:hover {
    border: 1px solid black;
    border-radius: 10px;
    transition-timing-function: ease-in-out;
    transition: 1s;
}
.socials {
    margin-top: 45px
}

.programmingLanguages {
    justify-content: center;
    margin: 1rem ;
    padding: 1rem;
}
.programming-languages {
    width: 70px;
    height: 70px;
    margin: 1rem;
}